argcomplete==1.10.0
asgiref==3.3.4
beautifulsoup4==4.8.0
chardet==3.0.4
click==8.0.1
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
fastapi==0.65.2
h11==0.12.0
IMAPClient==2.1.0
lxml
olefile==0.46
pdfminer.six==20181108
Pillow==8.2.0
pycryptodome==3.10.1
pydantic==1.8.2
python-multipart==0.0.5
python-pptx==0.6.18
pytz==2021.1
six==1.12.0
sortedcontainers==2.4.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
starlette==0.14.2
textract==1.6.3
typing-extensions==3.10.0.0
tzlocal==1.5.1
uvicorn==0.14.0
xlrd==1.2.0
phonenumbers
XlsxWriter==1.4.3
